<div style="left: 0px;background-color:cadetblue; padding:70px;padding-bottom: unset">
    <div class="row">
        <div class="col-md-4" style="padding: 10px;">
            <div style="margin-bottom: 10px">
                <h3>Erporate Solusi Global</h3>
                <!-- <img style="margin-bottom: 10px" src="../../../assets/image/logo-erporate.png"> -->
                <br>
                <strong>Jakarta</strong>
                <p>
                    Jakarta Barat, Madison Park, Magnolia Tower 10BJ, Tanjung Duren Selatan.
                </p>
                <strong>Yogyakarta</strong>
                <p>
                    Jl. Wirajaya No 310A RT 01/02, Kelurahan Condong Catur, Depok, Sleman
                </p>
                <br>
            </div>
        </div>
        <div class="col-md-4" style="padding: 10px;text-align: center ;margin-bottom: 20px;">
            <div style="margin-bottom: 30px">
                <h3>Contacts</h3>
            </div>
            <div style="margin-bottom: 20px;">
                <i style="font-size: 20px;" class="fas fa-phone"></i> (0274) 2834380
            </div>
            <div style="margin-bottom: 20px;">
                <i style="font-size: 20px;" class="fab fa-whatsapp"></i> 085749487679 (Business)
            </div>    
            <div style="margin-bottom: 20px;">
                <i style="font-size: 20px;" class="fab fa-whatsapp"></i> 081393733771 (HRD)
            </div>
            <div>
                <i style="font-size: 20px;" class="fab fa-whatsapp"></i> 085742486880 (HRD2)
            </div> 
        </div>
        <div class="col-md-4" style="text-align: right;margin-bottom: 20px;">
            <div style="margin-bottom: 30px">
                    <h3 style="visibility:hidden">. </h3>
            </div>
            <div>
                Copyright @ 2019 Ahmad Andriyanto <br>
                All right reserve
            </div>
        </div>
        
    </div>
</div>