<div class="grid" style="text-align: center">
    <div style="padding:70px;">
      <div style="margin-bottom: 50px;">
        <strong><h3>{{articleModel.articleTitle}}</h3></strong>
      </div>
      <div style="margin-bottom: 50px;" class="col-sm-12" >
        <img style="border-radius: 5px;" width="auto" height="70%" src="../../../assets/image/images{{articleModel.articleId}}.png">
      </div>
      <div style="text-align: justify;padding:10px">
          {{articleModel.text}}
      </div>
    </div>
  </div>
  